	html { 
		height: 100% ;
		}

	body { 
		height: 100%; 
		margin: 0 ; 
		padding: 0 ;
		}

	form {
		margin : 5px ;
	}

	.splash-page {
		background-color: #363535;
	}

	.width-fill { 
		width : 100% ;
		}

	.fill {	
		height : 100% ;
		margin : 0 ;
		padding : 0 ;
		}

	.main {
		position: absolute;
    	top : 40px ;
    	bottom : 0px ;
		margin : 0 ;
		padding : 0 ;
	}

	.header {
		background-color: #363535 ;
		height : 40px ; 
	}

	.info-div { 	
		text-align: center ;
		background-color: #FFFFFF;
		border-left : 1px solid #CCCCCC;
		overflow: auto ;
		}

	.header-div {
		margin : 15px;
		}

	.insert-holder {
	 	width : 200px ;
		height : 200px ;
		margin-top : 10px ;
		display : inline-block ;
		margin-left : auto ;
		margin-right : auto ;
		padding : 0px ;
		border-radius : 10px ;
		overflow: hidden ;
		}

	.insert-image { 	
		max-width : 100%;
		}

	.form-control {
		font-family : 'Raleway', sans-serif ;
		width : 80% ;
		margin-left: auto ;
		margin-right: auto ;
	}
	.title-text {
		font-family : 'Josefin Slab', serif ;
		color : #2A2C31 ;
		font-size :  30px;
		margin: 2px ;
	}

	.big-logo {		
		font-family : 'Josefin Slab', serif ;
		text-align: center;
		color : #FFFFFF ;
		font-size :  60px;
	}

	.logo {
		font-family : 'Josefin Slab', serif ;
		text-align: center;
		color : #FFFFFF ;
		font-size :  30px;
		margin: 5px ;

	}

	.subtitle {
		font-family : 'Josefin Slab', serif ;
		color : #2A2C31 ;
		font-size :  20px;
		margin-bottom : 2px ;
	}

	.minor-text {
		font-family : 'Raleway', sans-serif ;
		color : #2A2C31 ;
		font-size: 9pt ;
		margin : 4px;
	}

	.blurb {
		font-family : 'Raleway', sans-serif ;
		color : #666666 ;
		font-size: 11pt ;
		text-align : center ;  
		margin-left : 12% ; 
		margin-right : 12% ;
		margin-bottom : 5px ; 
		padding : 5px ;
	}

	.control-label {
		font-family : 'Raleway', sans-serif ;
		color : #2A2C31 ;
		font-size: 11pt ;
		margin-top: 5px ;
		margin-bottom: 5px ;
	}

	.control-label-alt {
		color : #FFFFFF ;
		font-size: 9pt ;
	}

	.btn {
		margin-top: 5px ;
		margin-bottom: 5px ;
	}

	.form-control {
		margin-top: 5px ;
		margin-bottom: 5px ;
	}

	.trip-list {
		text-align : left ;  
		margin-left : 10% ; 
		margin-right : 10% ;
		padding : 0px ;
	}

	.trip-item {
		margin : 0px ;
		margin-bottom: 3px;
		padding : 0px ;
		padding-bottom: 5px ;
		border : 1px solid #CCCCCC;
	}


	.trip-item:hover {
		background-color : #EEEEEE ;
	}

	.trip-link {
		font-family : 'Raleway', sans-serif ;
		color : #2A2C31 ;
		font-size: 13pt ;
		margin-left: 10px ;
		margin-top: 3px;
	}

	.edit-button {
		position: fixed ;
		bottom : 0px ;
		min-width : 50px ;
		right : 50px ;
		background-color: #CF4647;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding : 4px;
		color : #FFFFFF;
		font-family : 'Raleway', sans-serif ;
		font-size : 11pt;
	}

	.edit-button:hover {
		padding-bottom: 8px;
	}

	.link-image {
		width : 100%;
	}

	.link-image-div {
		height : 30px ;
		overflow : hidden ;
	}

	.front-pin {
		max-height : 100px ;
		margin : 10px;
	}

	.header-right {
		text-align: right ;
		padding-right: 30px;
	}

	.header-icon-wrapper {
		max-width : 36px ;
		margin: 2px ;
		margin-left: 5px ;
		margin-right: 5px ;
		display: inline-block;
	}

	.header-icon {
		display: inline-block;
		width: 36px ;
		height: 36px ;
	}

	.drop-link {
		margin-right: 5px ;
		color : #000000 ;

	}

	.drop-link-bold {
		padding-left : 20px ;
		padding-right : 20px ;
		font-weight: bold;
	}

	.right-menu {
		min-width : 0;
		right : 5px ;
		left : auto;
	}

	.link-item:hover {
		cursor : pointer;
	}

	.center-block-logo {
		height : 300px;
		position : relative;
		top : 50%;
		margin-top: -150px;
		text-align : center;
	}

	.center-block-form {
		height : 200px;
		position : relative;
		top : 50%;
		margin-top: -100px;
		text-align : center;
	}

	#map-canvas { 
		height : 100% ; 
		}

	#trip-image { 
		width : 100% ;
		}

	#trip-image-div { 
		overflow : hidden ;
		}

	#trip-pane {

	}

	#trip-info {
		height : 100%;
	}


	#pin-info  { 
		height : 100%;
		display: none;
		}

	.show-pin-image {
		height : 10% ;
	}

	.show-trip-image {
		height : 30% ;
	}

	.show-pin-pane {
		height : 90% ;
	}

	.show-trip-pane {
		height : 70% ;
	}