{% extends "map_base.html" %}

{% block dependencies %}
  <script src='/static/js/filestyle.js'></script> 
  <script src='/static/js/jquery.drag-n-crop.js'></script> 
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <link rel="stylesheet" href="/static/css/jquery.drag-n-crop.css">
{% endblock %}

  {% block script_functions %}
    function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function (e) {
                    var photo = $('#photo'); 
                    photo.attr('src', e.target.result);
                    photo.parent().height(photo.parent().width());
                    photo.css('border-radius', '0px');
                    photo.dragncrop({
                      stop: function() {
                        var pos = $("#photo").dragncrop('getPosition');
                        $("#id_image_x").val(pos.dimension[0]);
                        $("#id_image_y").val(pos.dimension[1]);
                        
                      }
                    });

                }
                
                reader.readAsDataURL(input.files[0]);
            }
        }
  {% endblock %}

  {% block initialize_script %}
      $("input").addClass("form-control")
      $("textarea").addClass("form-control")
      $(".btn").removeClass("form-control")
    
      $("#id_image").change(function(){
          readURL(this);
      });
      $("#id_image").filestyle({
      input: false,
      buttonText: "Choose profile image",
      buttonName: "btn-default btn-file",
      iconName: "glyphicon-camera"
      });

      {% if user.first_name %}
      $("#id_first_name").val("{{user.first_name}}")
      $("#id_last_name").val("{{user.last_name}}")
      {% else %}
      $("#id_first_name").attr("placeholder","First Name")
      $("#id_last_name").attr("placeholder","Last Name")
      {% endif %}

      var searchbox = new google.maps.places.Autocomplete(document.getElementById("id_hometown_name"));
      searchbox.setTypes(['geocode']);

      {% if user.profile.hometown %}
        var loc = new L.LatLng({{user.profile.hometown.lat}},{{user.profile.hometown.lon}});
      {% else %}
        var loc = new L.LatLng(0,0);
      {% endif %}
        var marker = new L.Marker(loc, standardIcon);
        map.addLayer(marker);
        map.setView(loc);
      $("#id_hometown_name").attr("placeholder","Enter your hometown..")

      {% if user.profile.text %}
      $("#id_text").val("{{user.profile.text}}")
      {% else %}
      $("#id_text").attr("placeholder","Tell us about yourself..")
      {% endif %}

      google.maps.event.addListener(searchbox, 'place_changed', function() {
        var place = searchbox.getPlace();
        $("#id_lat").val(place.geometry.location.lat());
        $("#id_lon").val(place.geometry.location.lng());
        var loc = new L.LatLng(place.geometry.location.lat(), place.geometry.location.lng())
        marker.setLatLng(loc);
        map.setView(loc);

      });

      $("#profile_form").submit(function(e){
      if ($('#id_hometown_name:focus').length){
        e.preventDefault();
      }
      });

  {% endblock %}

  {% block content %}
  {% load tags %}
  	<div class="insert-holder profile-image">
      <img class="insert-image" src="{{user.profile.get_image_url}}" id="photo"/>
    </div>
  	<form action="/profile/{{user.username}}/edit" id="profile_form" enctype="multipart/form-data" method="post">{% csrf_token %}
      {{ form.non_field_errors }}
      {{ form.image_x }}
      {{ form.image_y }}
      {{ form.lat }}
      {{ form.lon }}
      {% field form.image %}
      <div class="form-inline"> {% field_inline form.first_name %} {% field_inline form.last_name %} </div>
      {% field form.hometown_name %}
      {% field form.text %}

    <input type="submit" class="btn btn-info" value="Save" />

  {% endblock %}
