{% extends 'map_base.html' %}

  {% block dependencies %}
  <script src="/static/js/s3upload.js"></script>
  {% endblock %}

  {% block initialize_map %}
      var mapOptions = {
            mapTypeId: google.maps.MapTypeId.TERRAIN,
            mapTypeControl: false,
            panControl: true,
            zoomControl: true,
            streetViewControl: false
      };
      map = new google.maps.Map($("#map-canvas")[0], mapOptions);
      {% with mp=trip.get_map_params %}
      map.fitBounds(new google.maps.LatLngBounds(
      new google.maps.LatLng({{mp.sw.0}},{{mp.sw.1}}),
      new google.maps.LatLng({{mp.ne.0}},{{mp.ne.1}})
      ));
      {% endwith %}
  {% endblock %}

  {% block initialize_script %}
  {% load imagekit %}
  var loc,marker;
  var pathArr = [];

  var icon = { url : '/static/images/pin_2.svg',
        scaledSize : new google.maps.Size(40,40,'px','px'),
        size : new google.maps.Size(40,40,'px','px'),
        anchor : new google.maps.Point(19,33) }

  {% for p in trip.pins %}
    loc = new google.maps.LatLng({{p.location.lat}},{{p.location.lon}})
    marker = new google.maps.Marker({ 
      position: loc,
      icon : icon
      });
    marker.setMap(map);
    {% if p.tracks %}
      pathArr.push(loc);
    {% endif %}
  {% endfor %}

  poly = new google.maps.Polyline({
      path: pathArr,
      strokeColor: "#363535",
      strokeOpacity: 1.0,
      strokeWeight: 2
    });
  poly.setMap(map);

	var searchbox = new google.maps.places.Autocomplete(document.getElementById("id_loc_name"));

	google.maps.event.addListener(searchbox, 'place_changed', function() {
    clearMap();
		var place = searchbox.getPlace();
		$("#id_lat").val(place.geometry.location.lat());
		$("#id_lon").val(place.geometry.location.lng());
		var marker = new google.maps.Marker({
			position: place.geometry.location,
			title: place.name,
			map: map,
      icon: icon
		});
		map.setCenter(marker.getPosition());
    markerArray.push(marker);
	});	

  $("input").addClass("form-control")
  $("textarea").addClass("form-control")
  $("#id_trip").addClass("form-control")
  $(".btn").removeClass("form-control")

  $("#id_date").datepicker();


  $("#fileupload").change(function(){
    var s3upload = new S3Upload({
        file_dom_selector: 'fileupload',
        s3_sign_put_url: '/sign_s3/',
        onFinishS3Put: function(url) {
            $("#empty-message").hide()
            $("#uploaded").append('<img src="'+url+'" style="width:300px;" />');
            $("#upload-urls").val($("#upload-urls").val() + url + "|" )
        },
    });
  });

  $("#post_form").submit(function(e){
    if ($('#id_loc_name:focus').length){
      e.preventDefault();
    }
  });
  {% endblock %}

  {% block content %}
  {% load tags %}
  <div id="trip-image-div" class="show-pin-image">
      <img id="trip-image" src="{{trip.get_image_url}}" />
  </div> 
  <div id="trip-pane" class="show-pin-pane">
    <p class="subtitle" id="trip-name"> {{trip.name}} </p>
  	<h3 class="title-text"> New Post </h3>
	<form id="post_form" action="/trip/{{trip.id}}/post" enctype="multipart/form-data" method="post">{% csrf_token %}
      {{ form.lat }}
      {{ form.lon }}
      {% field form.name %}
      {% field form.loc_name %}
      <div class="form-inline">
       {% field_inline form.date %} &nbsp;&nbsp;
        <label class="control-label">{{ form.tracks }} make tracks? </label>
      </div>
      <div class="form-group thumbnail-box">
      <div id="uploaded"> 
        <p class="blurb" id="empty-message"> No images yet..</p>
      </div>
      <input id="fileupload" type="file" data-url="/file_upload" multiple>
      <input id="upload-urls" type="hidden" name="upload-urls">
    </div>
    {% field form.description %}
	<input type="submit" class="btn btn-info" value="Create" />
	</form>
  </div>
  {% endblock %}