{% extends 'map_base.html' %}

  {% block dependencies %}
  <link rel="stylesheet" href="/static/css/jquery.fileupload.css">
  <script src="/static/js/upload/vendor/jquery.ui.widget.js"></script>
  <script src="/static/js/upload/jquery.iframe-transport.js"></script>
  <script src="/static/js/upload/jquery.fileupload.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  {% endblock %}

  {% block initialize_map %}
      map = new L.mapbox.map("map-canvas", "mapbox.outdoors");
      {% with mp=trip.get_map_params %}
      map.fitBounds(new L.LatLngBounds(
      new L.LatLng({{mp.sw.0}},{{mp.sw.1}}),
      new L.LatLng({{mp.ne.0}},{{mp.ne.1}})
      ));
      {% endwith %}
  {% endblock %}

  {% block initialize_script %}
  {% load imagekit %}
  var loc,marker;

  {% for p in trip.pins %}
    loc = new L.LatLng({{p.location.lat}},{{p.location.lon}})
    marker = new L.Marker(loc, standardIcon);
    map.addLayer(marker);
  {% endfor %}

	var searchbox = new google.maps.places.Autocomplete(document.getElementById("id_loc_name"));
  var pinSet = false;
  var marker = new L.Marker(new L.LatLng(0,0), {'icon': L.mapbox.marker.icon({
            'marker-color': '#2A5880'
        })});

	google.maps.event.addListener(searchbox, 'place_changed', function() {
    clearMap();
		var place = searchbox.getPlace();
		$("#id_lat").val(place.geometry.location.lat());
		$("#id_lon").val(place.geometry.location.lng());
    var loc = new L.LatLng(place.geometry.location.lat(), place.geometry.location.lng()); 
		marker.setLatLng(loc);
    if (!pinSet) {
      map.addLayer(marker);
      pinSet = true;
    }
		map.setView(loc);
	});	

  map.on('click', function(e) {
    clearMap();
    $("#id_loc_name").val(e.latlng.lat + ", " + e.latlng.lng)
    $("#id_lat").val(e.latlng.lat);
    $("#id_lon").val(e.latlng.lng);
    marker.setLatLng(e.latlng);
    if (!pinSet) {
      map.addLayer(marker);
      pinSet = true;
    }
    map.setView(e.latlng);
});

  $("input").addClass("form-control")
  $("#id_trip").addClass("form-control")
  $(".btn").removeClass("form-control")

  $("#id_date").datepicker();


  $('#fileupload').fileupload({
      dataType: 'json',
      done: function (e, data) {
          $("#empty-message").hide()
          $.each(data.result, function (index, file) {
              if (file.hasOwnProperty('error')){
                $('<p/>').text(file.error).appendTo("#uploaded");
              } else {
                $('<img/>').attr('src',file.url).addClass("thumbnail").appendTo("#uploaded");
                $('<input type="hidden" />')
                  .attr('name','uploads')
                  .attr('value',file.id)
                  .appendTo('#post_form')
              }
          });
      }
  });

  $("#post_form").submit(function(e){
    if ($('#id_loc_name:focus').length){
      e.preventDefault();
    }
  });
  {% endblock %}

  {% block content %}
  {% load tags %}
  <div id="trip-image-div" class="show-pin-image">
      <img id="trip-image" src="{{trip.get_image_url}}" />
  </div> 
  <div id="trip-pane" class="show-pin-pane">
    <div class="header-div">
    <p class="subtitle link hover link-item" id="trip-name" href="/trip/{{trip.id}}"> {{trip.name}} </p>
  	<h3 class="title-text"> New Post </h3>
    </div>
	<form id="post_form" action="/trip/{{trip.id}}/post" enctype="multipart/form-data" method="post">{% csrf_token %}
      {{ form.lat }}
      {{ form.lon }}
      {% field form.name %}
      {% field form.loc_name %}
      <div class="form-inline">
       {% field_inline form.date %}
      </div>
      <div class="form-group thumbnail-box">
      <div id="uploaded"> 
        <p class="blurb" id="empty-message"> No images yet..</p>
      </div>
      <span class="btn btn-default btn-file fileinput-button"> Add Files
        <input id="fileupload" type="file" name="files[]" data-url="/file_upload" multiple>
      </span>
    </div>
	<input type="submit" class="btn btn-info" value="Create" />
	</form>
  </div>
  {% endblock %}