{% extends "map_base.html" %}

{% block initialize_script %}
    $("input").addClass("form-control")
    $("textarea").addClass("form-control")
    $(".btn").removeClass("form-control")
{% endblock %}

{% block content %}
{% load tags %}
<div id="trip-image-div" class="show-trip-image"> <img id="trip-image" src="http://lorempixel.com/g/500/300/cats" /></div> 
<div id="trip-pane" class="show-trip-pane">
    <div class="header-div">
  	  <p class="minor-text link hover link-item" href="/profile/{{trip.user.username}}">{{user.profile.get_name}}</p>
      <h3 class="title-text"> New Trip </h3>
    </div>

    <form action="/trip/new" enctype="multipart/form-data" method="post">{% csrf_token %}
      {{ form.non_field_errors }}
      {% field form.name %}
      {% field form.description %}

    <input type="submit" class="btn btn-info" value="Create" />
    </form>
</div>
{% endblock %}