{% extends "map_base.html" %}

{% block script_functions %}

  function finishTrip(trip_id) {
    var url = "/trip/" + trip_id + "/finish";
    $.post(url,{csrfmiddlewaretoken:'{{csrf_token}}' },function(data){
      if (data.success) {
        $("#trip_" + trip_id).removeClass("trip-active");

      } else {
        alert("Failed to update trip");
      }
    }).fail(function() {
      alert("Failed to update trip");
    });
  };

  function reactivateTrip(trip_id) {
    var url = "/trip/" + trip_id + "/reactivate";
    $.post(url,{csrfmiddlewaretoken:'{{csrf_token}}' },function(data){
      if (data.success) {
        $("#trip_" + trip_id).addClass("trip-active");
      } else {
        alert("Failed to update trip");
      }
    }).fail(function() {
      alert("Failed to update trip");
    });
  };

  function deleteTrip(trip_id) {
    var url = "/trip/" + trip_id + "/delete";
    $.post(url,{csrfmiddlewaretoken:'{{csrf_token}}' },function(data){
      if (data.success) {
        $("#trip_" + trip_id).hide();
      } else {
        alert("Failed to delete trip");
      }
    }).fail(function() {
      alert("Failed to delete trip");
    });
  };

{% endblock %}

{% block initialize_map %}
    {% if profile_user.profile.hometown %}
      var loc = [{{profile_user.profile.hometown.lat}},{{profile_user.profile.hometown.lon}}];
      var zoom = 3;
    {% else %}
      var loc = [0,0];
      var zoom = 2;
    {% endif %}

    map = new L.mapbox.map("map-canvas", "mapbox.outdoors").setView(loc, zoom);
    {% if profile_user.profile.hometown %}
		var marker = new L.Marker(loc, standardIcon);
		map.addLayer(marker);
    {% endif %}
    {% for trip in profile_user.trip_set.all %}
    {% for pin in trip.pins %}
      loc = new L.LatLng({{pin.location.lat}},{{pin.location.lon}})
      marker = new L.Marker(loc, standardIcon);
      map.addLayer(marker);

    {% endfor %}

    {% if trip.active %}
    $("#finish_{{trip.id}}").click(function(){finishTrip({{trip.id}})});
    {% else %}
    $("#reactivate_{{trip.id}}").click(function(){reactivateTrip({{trip.id}})});
    {% endif %}
    $("#delete_{{trip.id}}").click(function(){deleteTrip({{trip.id}})});

    {% endfor %}

    $(".trip-item").click(function(e){
      if (!$(e.target).parent().hasClass("drop-link")){
       window.location=$(this).attr("href"); 
      }
    });

{% endblock %}

{% block content %}
  	<div class="insert-holder profile-image">
      <img class="insert-image" src="{{profile_user.profile.get_image_url}}" />
  	</div>
    <div class="header-div">
  	<h2 class="title-text">{{profile_user.profile.get_name}}</h2>
    </div>
  	<div class="blurb"> {{profile_user.profile.text}} </div>

  	<div class="item-list">
    <h3 class="subtitle">Adventures</h3>
  	{% for trip in profile_user.trip_set.all %}
  		<div class="item trip-item {% if trip.active %} trip-active {% endif%}" id="trip_{{trip.id}}" href="/trip/{{trip.id}}">
        <div class="link-image-div"> <img class="link-image" src="{{trip.get_image_url}}"></div>
        <p class="item-main">{{trip.name}} </p>
        {% if edit %}
        <div class="dropdown glyph-wrapper">
          <span class="link glyphicon glyphicon-pencil glyph-button dropdown-toggle" id="dLabel_{{trip.id}}" data-toggle="dropdown"></span>
          <ul class="dropdown-menu right-menu" role="menu" aria-labelledby="dLabel_{{trip.id}}">
            {% if trip.active %}
            <li class="drop-link"> <a href="#" id="finish_{{trip.id}}"> Finish Trip </a> </li>
            {% else %}
            <li class="drop-link"> <a href="#" id="reactivate_{{trip.id}}"> Reactivate Trip </a> </li>
            {% endif %}
            <li class="drop-link"> <a href="#" id="delete_{{trip.id}}"> Delete Trip </a> </li>
          </ul>
        </div>
        {% endif %}
      </div>
    {% empty %}

    <p class="blurb">No adventures yet..</p>
  	{% endfor %}
    {% if edit %}<a class="btn btn-primary" href="/trip/new">New Trip</a>{% endif %}
  	</div>

    {% if edit %}
    <div class="edit-button link-item" href="/profile/{{profile_user.username}}/edit"> Edit </div>
    {% endif %}

{% endblock %}