{% extends "map_base.html" %}

{% block dependencies %}
<link href='/static/css/popup.css' rel='stylesheet' type='text/css'>
<script src="/static/js/jquery.slides.js"></script>
<script src="/static/js/popup.js"></script>
<script src="/static/js/jquery.mousewheel.min.js"></script>
{% endblock %}

{% block script_functions %}
var accumulatedScroll = 0;
var lastScrollEvent = new Date().getTime();
var delta = 5;
var currentPin = -1;

var pins = [
	{% for p in trip.pins %}
		{ 
		id : "{{ p.id }}",
		name : "{{ p.name }}",
		blurb : "{{ p.text|linebreaksbr }}",
		date : "{{ p.pin_date.date }}",
		lat : {{p.location.lat}},
		lon : {{p.location.lon}},
		media : [
		{% for m in p.media_set.all %}
			{ previewUrl : "{{ m.preview_url }}",
			  url : "{{ m.url }}" },
		{% endfor %}
		]
		},
	{% endfor %}
	];

function resizeElement(selector, size) {
	$(selector).width(size);
	$(selector).height(size);
};

function expandPin(index) {
	currentPin = index;
	var pin = pins[index];
	var small_div = "#pin_" + pin.id + "_small";
	var large_div = "#pin_" + pin.id + "_large";


	console.log($("#pin-list").offset().top);
	console.log($('.info-div').scrollTop());

	$(".pin-large").stop(true, true).hide(200);
	$(".pin-small").stop(true, true).show();
	var img_size = $(small_div).width();
	var small_height = $(small_div).height();
	$(small_div).hide();
	$(large_div).show(200);
	map.setView(new L.LatLng(pin.lat, pin.lon), 14);

	$("#slides").removeAttr("id","#slides");

	$('.info-div').stop(true, true);
	$('.info-div').animate({
    	scrollTop: $("#pin-list").offset().top + $('.info-div').scrollTop() + small_height*(index-2)
	}, 400);



	if ( pin.media.length > 1 ) {
		$(large_div).children(".slides").attr("id", "slides");
		$("#slides").width(img_size);
		$("#slides").slidesjs({
			width: img_size,
			height: img_size,
			navigation: {active:false, effect:"fade"},
			pagination: {active:false},
		});
		resizeElement(".slidesjs-container", img_size);
		resizeElement(".slidesjs-control", img_size);
		$('.slidesjs-control').magnificPopup({
			delegate: 'img',
		    gallery: {
		    	  enabled: true
			},
	    	type: 'image'
		});
	}
	else {
		$(".insert-image").magnificPopup({type:'image'});
	}
	resizeElement(".insert-image", img_size);
	currentScrollTop = $(".info-div").scrollTop();
}

function deletePin(pin_id) {
    var url = "/pin/" + pin_id + "/delete";
    $.post(url,{csrfmiddlewaretoken:'{{csrf_token}}' },function(data){
      if (data.success) {
        $("#pin_" + pin_id + "_small").remove();
        $("#pin_" + pin_id + "_large").remove();
      } else {
        alert("Failed to delete pin");
      }
    }).fail(function() {
      alert("Failed to delete pin");
    });	
};

{% endblock %}

{% block initialize_map %}
	map = new L.mapbox.map("map-canvas", "mapbox.outdoors");
	{% with mp=trip.get_map_params %}
	map.fitBounds(new L.LatLngBounds(
	new L.LatLng({{mp.sw.0}},{{mp.sw.1}}),
	new L.LatLng({{mp.ne.0}},{{mp.ne.1}})
	));
	{% endwith %}
{% endblock %}

{% block initialize_script %}
    var loc,marker;
    {% for p in trip.pins %}
    	loc = new L.LatLng({{p.location.lat}},{{p.location.lon}})
		marker = new L.Marker(loc);
		map.addLayer(marker);

		marker.on('click', function() {
			expandPin({{ forloop.counter0 }});
		});
		$("#pin_{{p.id}}_small").click(function(e){
   			expandPin({{ forloop.counter0 }});
		});

		$("#delete_{{p.id}}").click(function(){deletePin({{p.id}})});
    {% endfor %}

	$('.info-div').mousewheel(function(event) {
		var currentTime = new Date().getTime();
		if ( currentTime - lastScrollEvent > 3000 ) {
			accumulatedScroll = event.deltaY;
		} else {
			accumulatedScroll = accumulatedScroll + event.deltaY;
		}
		lastScrollEvent = currentTime;
		if ( currentPin <= 0 && accumulatedScroll > 0 ) {
			currentPin = -1;
			$('.info-div').stop(true, true);
		}
		else {
			 if ( accumulatedScroll < -50){
				if ( currentPin < {{ trip.pins.count }}) {
				 	expandPin(currentPin+1);
				}
			 }
			 else if ( accumulatedScroll > 50) {
				if ( currentPin > 0) {
				 	expandPin(currentPin-1);
				}
			 }
			event.preventDefault();
		}
		if (accumulatedScroll < -50 || accumulatedScroll > 50) {
			accumulatedScroll = 0;
		}

	});

{% endblock %}

{% block content %}
	<div id="trip-image-div" class="hover"> 
		<img id="trip-image" src="{{trip.get_image_url}}" />
	</div>
	<div id="trip-pane">
	<div class="header-div">
	  	<p class="minor-text link hover link-item" href="/profile/{{trip.user.username}}">{{trip.user.profile.get_name}}</p>
  		<h2 class="title-text">{{trip.name}}</h2>
  		<p class="minor-text"> {{trip.start}} - {{trip.end}}</p>
  	</div>
  	<div class="blurb">{{trip.text}}</div>
  	<div class="item-list">
  		<h3 class="subtitle">Pins</h3>
  		<div id="pin-list">
  		{% for p in trip.pins %}
  			<div class="item pin-container">
		  		<div class="item pin-item pin-small hover" id="pin_{{p.id}}_small">
		  			<img class="pin-item-img" src="{{p.thumbnail_url}}" height="100" width="100">
	        		<p class="item-main pin-main">{{p.name}} <span class="tiny-text">{{p.pin_date.date|date:"d/m/y" }}</span></p>
		        </div>
		        <div class="item pin-item pin-large" id="pin_{{p.id}}_large">
		        	<div class="insert-holder slides">
		        		{% for m in p.media_set.all %}
			        		<img class="insert-image" src="{{ m.preview_url }}" href="{{ m.url }}" />
			        	{% endfor %}
			        	{% if p.media_set.count > 1 %}
  						<a href="#" class="slidesjs-previous slidesjs-navigation navigation"><span class="glyphicon glyphicon-chevron-left"></span></a>

  						<a href="#" class="slidesjs-next slidesjs-navigation navigation"><span class="glyphicon glyphicon-chevron-right"></span></a>
  						{% endif %}
						</div>
						<div class="pin-large-text">
						{% if edit %}
		        		<div class="dropdown glyph-wrapper">
				          <span class="link glyphicon glyphicon-pencil glyph-button dropdown-toggle" id="dLabel_{{p.id}}" data-toggle="dropdown"></span>
				          <ul class="dropdown-menu right-menu" role="menu" aria-labelledby="dLabel_{{p.id}}">
							<li class="drop-link"> <a href="#" id="delete_{{p.id}}"> Delete Pin </a> </li>
				          </ul>
		        		</div>
	        			{% endif %}
  						<h2 class="title-text" id="pin-title">{{p.name}}</h2>
  						<p class="minor-text" id="pin-date">{{p.pin_date.date|date:"d/m/y"}}</p>
  					</div>
		        </div>
	    	</div>
	    {% empty %}
	    	<p class="blurb">No pins yet..</p>
  		{% endfor %}
  		</div>

  		{% if trip.active and edit %}
  		<a class="btn btn-primary" href="/trip/{{trip.id}}/post">New Pin</a>
  		{% endif %}
  	</div>
	</div>
{% endblock %}