{% load bootstrap %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<link rel="stylesheet" href="/static/intrepid.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript"
	      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDml8K6lGP_FoE7gH8ffhCAdN8Dkltf1as&libraries=places&sensor=false">
    </script>
    <script type="text/javascript">
	var map;

	function initialize() {
		  var mapOptions = {
		  center: new google.maps.LatLng(0,0),
          zoom: 5,
          mapTypeId: google.maps.MapTypeId.TERRAIN
        };
      map = new google.maps.Map($("#map-canvas")[0], mapOptions);
      $("input").addClass("form-control")
      $("textarea").addClass("form-control")

      {% if user.first_name %}
      $("#id_first_name").val("{{user.first_name}}")
      $("#id_last_name").val("{{user.last_name}}")
      {% else %}
      $("#id_first_name").attr("placeholder","First Name")
      $("#id_last_name").attr("placeholder","Last Name")
      {% endif %}

      var searchbox = new google.maps.places.Autocomplete(document.getElementById("id_hometown_name"));

      {% if user.profile.hometown %}
      $("#id_hometown_name").val("{{user.profile.hometown.name}}")
      {% else %}
      $("#id_hometown_name").attr("placeholder","Enter your hometown..")
      {% endif %}

      {% if user.profile.text %}
      $("#id_text").val("{{user.profile.text}}")
      {% else %}
      $("#id_text").attr("placeholder","Tell us about yourself..")
      {% endif %}

      google.maps.event.addListener(searchbox, 'place_changed', function() {
        var place = searchbox.getPlace();
        $("#id_lat").val(place.geometry.location.lat());
        $("#id_lon").val(place.geometry.location.lng());
        var marker = new google.maps.Marker({
          position: place.geometry.location,
          title: place.name,
          map: map
        });
        map.setCenter(marker.getPosition());
      }); 

    };

	$( window ).load(initialize);
	</script>

</head>
<body>

<div class="container fill width-fill">
<div class="row fill">
  <div class="col-xs-6 col-sm-8 fill">
	<div id="map-canvas"></div>
  </div>
  <div class="col-xs-6 col-sm-4 fill info-div" id="profile-div">
  	<div class="insert-holder">
  		<img class="insert-image" src="http://placekitten.com/500/500">
  	</div>
  	<form action="/profile/{{user.username}}/edit" method="post">{% csrf_token %}
      {{ form.non_field_errors }}
      {{ form.lat }}
      {{ form.lon }}
      <div class="form-group form-inline"> {{ form.first_name }} {{ form.last_name }} </div>
      <div class="form-group"> {{ form.hometown_name }} </div>
      <div class="form-group"> {{ form.text }} </div>

    <input type="submit" class="btn btn-default" value="Save" />


  </div>
</div>
</div>

</body>