{% extends 'map_base.html' %}

  {% block dependencies %}
  <link rel="stylesheet" href="/static/jquery.fileupload.css">
  <script src="/static/upload/vendor/jquery.ui.widget.js"></script>
  <script src="/static/upload/jquery.iframe-transport.js"></script>
  <script src="/static/upload/jquery.fileupload.js"></script>
  {% endblock %}

  {% block initialize_map %}
      var mapOptions = {
        {% with center=trip.get_center %}
        center: new google.maps.LatLng({{center.0}}, {{center.1}}),
        {% endwith %}
            zoom: 6,
            mapTypeId: google.maps.MapTypeId.TERRAIN,
            mapTypeControl: false,
            panControl: true,
            zoomControl: true,
            streetViewControl: false
          };
          map = new google.maps.Map($("#map-canvas")[0], mapOptions);
  {% endblock %}

  {% block initialize_script %}
  {% load imagekit %}
  var loc,marker;
  var pathArr = [];
  {% for p in trip.pins %}
    loc = new google.maps.LatLng({{p.location.lat}},{{p.location.lon}})
    marker = new google.maps.Marker({ 
      position: loc,
      icon : { url : '/static/pin_2.svg',
        scaledSize : new google.maps.Size(30,45,'px','px'),
        size : new google.maps.Size(30,45,'px','px') }
      });
    marker.setMap(map);
    {% if p.tracks %}
      pathArr.push(loc);
    {% endif %}
  {% endfor %}

	var searchbox = new google.maps.places.Autocomplete(document.getElementById("id_loc_name"));

	google.maps.event.addListener(searchbox, 'place_changed', function() {
    clearMap();
		var place = searchbox.getPlace();
		$("#id_lat").val(place.geometry.location.lat());
		$("#id_lon").val(place.geometry.location.lng());
		var marker = new google.maps.Marker({
			position: place.geometry.location,
			title: place.name,
			map: map
		});
		map.setCenter(marker.getPosition());
		map.setZoom(8);
    markerArray.push(marker);
	});	

	  $("input").addClass("form-control")
    $("textarea").addClass("form-control")
    $("#id_trip").addClass("form-control")
    $(".btn").removeClass("form-control")

    $("#id_date").datepicker();

    $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
            $("#empty-message").hide()
            $.each(data.result, function (index, file) {
                if (file.hasOwnProperty('error')){
                  $('<p/>').text(file.error).appendTo("#uploaded");
                } else {
                  $('<img/>').attr('src',file.url).addClass("thumbnail").appendTo("#uploaded");
                  $('<input type="hidden" />')
                    .attr('name','uploads')
                    .attr('value',file.id)
                    .appendTo('#post_form')
                }
            });
        }
    });
  {% endblock %}

  {% block content %}
  {% load bootstrap %}
  <div id="trip-image-div" class="show-pin-image">
      <img id="trip-image" src="{{trip.get_image_url}}" />
  </div> 
  <div id="trip-pane" class="show-pin-pane">
    <p class="subtitle" id="trip-name"> {{trip.name}} </p>
  	<h3 class="title-text"> New Post </h3>
	<form id="post_form" action="/trip/{{trip.id}}/post" enctype="multipart/form-data" method="post">{% csrf_token %}
	  {{ form.non_field_errors }}
      {{form.lat.errors}}{{ form.lat }}
      {{form.lon.errors}}{{ form.lon }}
      <div class="form-group">{{form.name.errors}}{{ form.name }}</div>
      <div class="form-group">{{form.loc_name.errors}}{{ form.loc_name }}</div>
      <div class="form-group form-inline">
          {{form.date.errors}}{{ form.date }} &nbsp;&nbsp;
          <label class="control-label">{{form.tracks.errors}}{{ form.tracks }} make tracks? </label>
      </div>
      <div class="form-group thumbnail-box">
      <div id="uploaded"> 
        <p class="blurb" id="empty-message"> No memories yet..</p></div>
      <span class="btn btn-default fileinput-button"> Add Files
        <input id="fileupload" type="file" name="files[]" data-url="/file_upload" multiple>
      </span>
    </div>
      <div class="form-group">{{form.description.errors}}{{ form.description }}</div>
	<input type="submit" class="btn btn-info" value="Create" />
	</form>
  </div>
  {% endblock %}