{% load bootstrap %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<style type="text/css">
	  html { height: 100% }
	  body { height: 100%; margin: 0; padding: 0 }
	  .map-ancestor {height: 100% }
	  #map-canvas { height: 100% }
	</style>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript"
	      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDml8K6lGP_FoE7gH8ffhCAdN8Dkltf1as&libraries=places&sensor=false">
    </script>

	<script type="text/javascript">
	var map;

	function initialize() {
		var mapOptions = {
          zoom: 6,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map($("#map-canvas")[0], mapOptions);

		var searchbox = new google.maps.places.Autocomplete(document.getElementById("id_loc_name"));

		google.maps.event.addListener(searchbox, 'place_changed', function() {
    		var place = searchbox.getPlace();
			$("#id_lat").val(place.geometry.location.lat());
			$("#id_lon").val(place.geometry.location.lng());
    	});	
	};

	$( window ).load(initialize)
	</script>
</head>
<body>
<div class="container map-ancestor">
<div class="row map-ancestor">
  <div class="col-md-6 map-ancestor">
	<div id="map-canvas"></div>
  </div>
  <div class="col-md-6">
	<form action="/post/new" method="post">{% csrf_token %}
	{{ form|bootstrap_horizontal }}
	<input type="submit" class="btn btn-default" value="Create" />
	</form>
  </div>
</div>
</div>

</body>
</html>