{% extends "map_base.html" %}

{% block dependencies %}
  <script src='/static/filestyle.js'></script> 
{% endblock %}

{% block script_functions %}
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                var photo = $('#trip-image'); 
                photo.attr('src', e.target.result);
                photo.dragncrop('destroy');
                photo.dragncrop({ 
                    centered : true ,
                    instruction : true ,
                    stop: function(e,pos) {
                      $("#id_image_x").val(pos.dimension[0]);
                      $("#id_image_y").val(pos.dimension[1]);
                      $("#id_image_width").val($("#trip-image-div").width()/photo.width());
                    }                       
                 });
                photo.imagesLoaded().done(function(){
                  var pos = photo.dragncrop("getPosition");
                  $("#id_image_x").val(pos.dimension[0]);
                  $("#id_image_y").val(pos.dimension[1]);
                  $("#id_image_width").val($("#trip-image-div").width()/photo.width());
                }); 
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
{% endblock %}

{% block initialize_script %}
    $("input").addClass("form-control")
    $("textarea").addClass("form-control")
    $(".btn").removeClass("form-control")


    $("#id_image").filestyle({
      input: false,
      buttonText: "Choose header image",

      });
    $("#id_image").change(function(){
      readURL(this);
    });
    $('#trip-image').dragncrop();

{% endblock %}

{% block content %}
{% load tags %}
<div id="trip-image-div" class="show-trip-image"> <img id="trip-image" src="http://placekitten.com/500/300" /></div> 
<div id="trip-pane" class="show-trip-pane">
<form action="/trip/new" enctype="multipart/form-data" method="post">{% csrf_token %}
  	
      {{ form.non_field_errors }}
      {{ form.image_x }}
      {{ form.image_y }}
      {{ form.image_width }}
      {% field form.image %}

      <h3 class="title-text"> New Trip </h3>
      {% field form.name %}
      {% field form.description %}

<input type="submit" class="btn btn-info" value="Create" />
</div>
{% endblock %}