{% extends 'map_base.html' %}

  {% block dependencies %}
  <script src="/static/upload/vendor/jquery.ui.widget.js"></script>
  <script src="/static/upload/jquery.iframe-transport.js"></script>
  <script src="/static/upload/jquery.fileupload.js"></script>
  {% endblock %}

  {% block initialize_script %}
	var searchbox = new google.maps.places.Autocomplete(document.getElementById("id_loc_name"));

	google.maps.event.addListener(searchbox, 'place_changed', function() {
    clearMap();
		var place = searchbox.getPlace();
		$("#id_lat").val(place.geometry.location.lat());
		$("#id_lon").val(place.geometry.location.lng());
		var marker = new google.maps.Marker({
			position: place.geometry.location,
			title: place.name,
			map: map
		});
		map.setCenter(marker.getPosition());
		map.setZoom(8);
    markerArray.push(marker);
	});	

	  $("input").addClass("form-control")
    $("textarea").addClass("form-control")
    $("#id_trip").addClass("form-control")

    $("#id_date").datepicker();

    $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result, function (index, file) {
                if (file.hasOwnProperty('error')){
                  $('<p/>').text(file.error).appendTo("#uploaded");
                } else {
                  $('<p/>').text(file.name).appendTo("#uploaded");
                  $('<input type="hidden" />')
                    .attr('name','uploads')
                    .attr('value',file.id)
                    .appendTo('#post_form')
                }
            });
        }
    });
  {% endblock %}

  {% block content %}
  {% load bootstrap %}
  <div id="trip-image-div" class="show-pin-image">
      <img id="trip-image" src="{{trip.get_image_url}}" />
  </div> 
  <div id="trip-pane" class="show-pin-pane">
    <p class="subtitle" id="trip-name"> {{trip.name}} </p>
  	<h3 class="title-text"> New Post </h3>
	<form id="post_form" action="/trip/{{trip.id}}/post" enctype="multipart/form-data" method="post">{% csrf_token %}
	  {{ form.non_field_errors }}
      {{form.lat.errors}}{{ form.lat }}
      {{form.lon.errors}}{{ form.lon }}
      <div class="form-group">{{form.name.errors}}{{ form.name }}</div>
      <div class="form-group">{{form.loc_name.errors}}{{ form.loc_name }}</div>
      <div class="form-group">{{form.date.errors}}{{ form.date }}</div>
      <div class="form-group" id="uploaded"> </div>
      <div class="form-group form-inline"><label class="control-label">{{form.tracks.errors}}{{ form.tracks }} make tracks? </label></div>
      <input id="fileupload" type="file" name="files[]" data-url="/file_upload" multiple>
      <div class="form-group">{{form.description.errors}}{{ form.description }}</div>
	<input type="submit" class="btn btn-default" value="Create" />
	</form>
  </div>
  {% endblock %}