{% extends "map_base.html" %}

{% block initialize_map %}
    {% if user.profile.hometown.name %}
      var loc = new google.maps.LatLng({{user.profile.hometown.lat}},{{user.profile.hometown.lon}});
    {% else %}
      var loc = new google.maps.LatLng(0,0);
    {% endif %}

		var mapOptions = {
		      center: loc,
          zoom: 3,
          mapTypeId: google.maps.MapTypeId.TERRAIN,
          mapTypeControl: false,
          panControl: true,
          zoomControl: true,
          streetViewControl: false
        };
        map = new google.maps.Map($("#map-canvas")[0], mapOptions);
		var marker = new google.maps.Marker({	
				position: loc,
			});
		marker.setMap(map);
{% endblock %}

{% block content %}
  	<div class="insert-holder">
  		<img class="insert-image" src="http://placekitten.com/500/500">
  	</div>
    <div class="header-div">
  	{% if user.first_name %}
  	<h2 class="title-text">{{user.first_name}} {{user.last_name}}</h2>
  	{% else %}
  	<h2 class="title-text">{{user.username}}</h2>
  	{% endif %}
  	{% if user.profile.hometown.name %}
  	<p class="minor-text">{{user.profile.hometown.name}}</p>
  	{% else %}
  	<p class="minor-text">&nbsp;</p>
  	{% endif %}
    </div>
  	<div class="blurb"> {{user.profile.text}} </div>

    {% if user.trip_set.all %}
  	<div class="trip-list">
    <h3 class="subtitle">Trips</h3>
  	{% for trip in user.trip_set.all %}
  		<div class="trip-item link-item" href="/trip/{{trip.id}}">
        <div class="link-image-div"> <img class="link-image" src="http://placekitten.com/500/300"></div>
        <p class="trip-link">{{trip.name}}</a>
        </div>
  	{% endfor %}
  	</div>
    {% endif %}

    {% if edit %}
    <div class="edit-button link-item" href="/profile/{{user.username}}/edit"> Edit </div>
    {% endif %}

{% endblock %}