{% extends "map_base.html" %}

{% block script_functions %}
	function showPin() {
		$("#trip-pane").removeClass("show-trip-pane").addClass("show-pin-pane");
		$("#trip-image-div").removeClass("show-trip-image").addClass("show-pin-image");
		$("#trip-info").hide();
		$("#pin-info").show();
	};

	function showTrip() {
		$("#trip-pane").removeClass("show-pin-pane").addClass("show-trip-pane");
		$("#trip-image-div").removeClass("show-pin-image").addClass("show-trip-image");
		$("#pin-info").hide();
		$("#trip-info").show();
		map.setCenter(new google.maps.LatLng({{center_lat}}, {{center_lon}}));
		map.setZoom(5);
	}

	function pinListener(info) {
		var pin_div = $("#pin-info");
		console.log(pin_div)
		pin_div.find("#pin-title").html(info.name);
		pin_div.find("#pin-location").html(info.location);
		pin_div.find("#pin-date").html(info.date);
		pin_div.find("#pin-blurb").html(info.blurb);
		map.setCenter(new google.maps.LatLng(info.lat, info.lon));
		map.setZoom(10);
		showPin();
	};

{% endblock %}

{% block initialize_map %}
		var mapOptions = {
		  center: new google.maps.LatLng({{center_lat}}, {{center_lon}}),
          zoom: 5,
          mapTypeId: google.maps.MapTypeId.TERRAIN,
          mapTypeControl: false,
          panControl: true,
          zoomControl: true,
          streetViewControl: false
        };
        map = new google.maps.Map($("#map-canvas")[0], mapOptions);
{% endblock %}

{% block initialize_script %}

        var loc,marker;
        var pathArr = [];
        {% for p in pins %}
        	loc = new google.maps.LatLng({{p.location.lat}},{{p.location.lon}})
			marker = new google.maps.Marker({	
				position: loc,
			});
			marker.setMap(map);
			{% if p.tracks %}
				pathArr.push(loc);
			{% endif %}

			google.maps.event.addListener(marker, 'click', function() {
				var info = { 
					name : "{{ p.name }}",
					blurb : "{{ p.text }}",
					location : "{{ p.location.name }}",
					date : "{{ p.pin_date.date }}",
					lat : {{p.location.lat}},
					lon : {{p.location.lon}}
				};
				pinListener(info);
			});
        {% endfor %}
		
		poly = new google.maps.Polyline({
			path: pathArr,
			strokeColor: "#594c25",
			strokeOpacity: 1.0,
			strokeWeight: 2
		});
		poly.setMap(map);

		showTrip();
		$("#trip-name").click(showTrip);
{% endblock %}

{% block content %}
  	<div id="trip-image-div"> <img id="trip-image" src="http://placekitten.com/500/300" /></div> 
  	<div id="trip-pane">
	  	<div id="trip-info">
	  		<div class="header-div">
	  		{% if trip.user.first_name %}
		  	<p class="minor-text link-item" href="/profile/{{trip.user.username}}">{{trip.user.first_name}} {{trip.user.last_name}}</p>
		  	{% else %}
		  	<p class="minor-text link-item" href="/profile/{{trip.user.username}}">{{trip.user.username}}</p>
		  	{% endif %}
	  		<h2 class="title-text">{{trip.name}}</h2>
	  		<p class="minor-text"> Date - Date</p>
	  		</div>
	  		<div class="blurb">{{trip.text}}</div>
	  	</div>
	  	<div id="pin-info">
	  		<div class="header-div">
	  		<p class="subtitle" id="trip-name"> {{trip.name}} </p>
	  		<h2 class="title-text" id="pin-title"></h2>
	  		<p class="minor-text" id="pin-location"> </p>
	  		<p class="minor-text" id="pin-date"> </p>
	  		</div>

	  		<div class="insert-holder">
  			<img class="insert-image" src="http://placekitten.com/500/500">
  			</div>

  			<div class="blurb" id="pin-blurb"> </div>
	  	</div>
  	</div>

{% endblock %}